
#trangphai{background: #fff;
    border-radius: 4px;
    padding: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    padding-bottom: 18px;}
.title-gioithieu{width:100%;height: 50px}
.title-gioithieu h1{
    padding: 5px 15px 10px 15px;
    border-bottom: 1px solid #ea819e;
    text-transform: uppercase;
    color: #ea819e;
    font-size: 18px;
    margin-bottom: 20px;}

#customer-login{overflow:hidden}
.clearfix{height:45px}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}
.userbox {
    width: 335px;
    padding: 15px;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    margin-bottom: 20px;
}
.icon-field {
    display: inline-block !important;
    background-color: #F8F8F8 !important;
    color: white;
    border: solid 1px #E7E7E7;
    text-align: center;
    height: 30px;
    vertical-align: middle;
    line-height: 33px;
    width: 30px;
    float: left;
}
.icon-login {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
.icon-envelope:after {
    content: url(images/email.png); margin-top: 6px;
    display: block;
}
.icon-shield:after {
    content: url(images/pass.png);
}

.action_bottom .btn {
    font-size: 14px;
    font-weight: 600;
    color: white;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 35px;
    background: #ea819e;
    text-align: center;
    border: none;
  
}
.action_bottom .btn:hover{
    background: #d96686;
    color: #fff;
}


#login input.text {
    width:294px;height: 28px;border: solid 1px #E7E7E7;padding-left: 7px;
}

